<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
      <!-- this is the url setup on project Umbraco.Web.UI -->
      <add key="LocalSiteUrl" value="http://localhost" />
      <add key="PortNo" value="12365"/>      
  </appSettings>

  <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>

</configuration>
